.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}
.header {
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
}

@media (max-width: 1140px){
	.container{
		max-width: 970px;
	}
	.all__items-first-row{
		flex-direction: column;
	}
	.all__items-second-row{
		flex-direction: column;
	}
	.all__body{
		justify-content: center;
	}
	.all__item{
		margin: 0px auto 25px auto!important;
	}
	.all__button{
		margin-bottom: 20px;
	}
	.blog__item{
		margin: 0px auto 15px auto!important;
	}
	.blog__row{
		flex-direction: column;
	}
	.blog{
		margin-bottom: 50px!important;
	}
	.course-finding__video{
		margin: 0 auto;
	}
	.events__row{
		flex-direction: column;
		margin: 0px auto 15px auto!important;
		max-width: 368px;
	}
	.info{
		margin-bottom: 50px!important;
		max-height: 227px!important;
	}
	.events{
		margin-bottom: 50px!important;
	}
	.mentors{
		margin-bottom: 50px!important;
	}
	.work{
		margin-bottom: 50px!important;
	}
	.subscribe{
		margin-bottom: 50px!important;
	}
	.events__item{
		margin-bottom: 15px;
	}
	.mentors__content-row{
		flex-direction: column;
	}
	.mentors__content-item{
		margin: 0px auto 15px auto!important;
	}
	.work__content-list{
		flex-direction: column;
	}
	.work__content-list-item{
		margin-bottom: 25px;
	}
	.work__content-list-description{
		width: 248px;
	}
	.footer__block-1{
		margin-right: 20px!important;
	}
	.footer__feature{
		margin-right: 50px!important;
	}
	.footer__support{
		margin-right: 50px!important;
	}
	.footer__body{
		margin-left: 80px;
	}
	.students__content{
		flex-direction: column;
	}
	.students__row{
		justify-content: center;
	}
	.students__content-item{
		margin: 15px 12px 15px 12px!important;
	}
	.header__burger{
		display: none;
	}
}
@media (max-width: 992px){
	body.lock{
		overflow: hidden
	}
	.container{
		max-width: 750px;
	}
	.course__content-title{
		text-align: center;
		margin-left: 20px;
	}
	.course-finding__body{
		flex-direction: column;
	}
	.course-finding__text{
		order: 2;
	}
	.course-finding__descriptions{
		display: flex;
		flex-direction: column;
		margin: 0px auto 25px auto!important;
	}
	.course-finding__description{
		max-width: 900px;
		text-align: center;
	}
	.course-finding__description2{
		max-width: 900px;
		margin-top: 16px;
		text-align: center;
	}
	.course-finding__button{
		margin-top: 32px!important;
		margin: 0 auto;
	}
	.course-finding__video{
		margin: 0 auto;
		order: 1;
	}
	.course-finding__title{
		text-align: center;
	}
	.mentors__content-item{
		margin-left: 190px;
	}
	.events__row{
		margin-left: 190px;
	}
	.blog__item{
		margin-left: 190px;
	}
	.subscribe{
		margin-right: 190px;
	}
	.students__content{
		flex-direction: column;
	}
	.students__row{
		justify-content: center;
	}
	.students__content-item{
		margin: 15px 24px 15px 24px!important;
	}
	.header__top-logo{
		z-index: 3
	}
	.header__burger{
		display: flex!important;
		position: relative;
		width: 30px;
		height: 20px;
		margin-top: 50px;
		z-index: 3
	}
	.header__burger::before,
	.header__burger::after{
		content: "";
		background-color: black;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before{
		top: 0;
	}
	.header__burger::after{
		bottom: 0;
	}
	.header__burger span{
		position: absolute;
		background-color: black;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	
	.header__top-menu.active{
		top: 0;
	}
	.header__top-log.active{
		
	}.header__top-link{
		border: 15px solid #ffffff;
		background-color: #ffffff;

	}
	.header__block{
		flex-direction: column;
		width: 100%;
		background-color: #ffffff;
		position: fixed;
		top: -100%;
		left: 0;
		height: 50%;
		padding: 80px 0px 15px 30px;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}
	.header__block.active{
		top: 0;
	}
	.header__top-menu{
		
	}
	.header__top-log{
		
	}
	.header__top-list{
		display: flex;
		flex-direction: column;
		margin-left: 22px;
	}
	.header__top-list-item{
		margin-bottom: 10px;
		font-size: 30px;
	}
	.header__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span{
		transform: scale(0);
	}
}

@media (max-width: 944px){
	.footer__body{
		flex-direction: column!important;
	}
	.footer__block-2{
		margin-top: 15px;
	}
	.footer__feature{
		margin-right: 20px!important;
	}
	.footer__support{
		margin-right: 20px!important;
	}
}
@media (max-width: 767px){
	.container{
		max-width: none;
	}
	.course-finding__video{
		margin: 0 auto;
	}
	.info {
		max-height: 185px!important;
	}
	.mentors__content-item{
		margin-left: 155px;
	}
	.events__row{
		margin-left: 155px;
	}
	.blog__item{
		margin-left: 155px;
	}
	.subscribe{
		margin-right: 10px;
	}
	
}
@media (max-width: 736px){
	.footer__block-2{
		flex-direction: column;
		width: 554px;
	}
	.footer__contact{
		margin-bottom: 30px;
	}
}
@media (max-width: 425px){
	.footer__contact{
		width: 200px;
	}
	.footer__block-1{
		margin-bottom: 15px;
	}
	.course-finding__button{
		margin: 0 auto!important;
	}
	.course-finding__descriptions{
		width: 300px;
		margin: 0px auto 88px auto!important;
	}
	.blog__row{
		margin-left: -15px;
	}
	.mentors__header-description{
		margin: 20px auto 78px auto!important;
	}

	.subscribe__body{
		width: 320px!important;
		margin-right: -10px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.subscribe__title{
		text-align: center;
		margin-left: 25px;
	}
	.subscribe__email-stroke{
		margin-left: 10px!important;
	}
	.subscribe__email-sublime{
		right: 0px!important;
		border: 2px solid #ffffff!important;
		margin-left: 5px;
		margin-right: 5px;
	}

	.course-info__online{
		margin-right: 5px;
	}
	.course-info__expert{
		margin-right: 5px;
	}

	.course-info__body{
		height: 110px!important;
	}
	.course-finding__video{
		max-height: 340px;
	}
	.course-finding{
		margin-top: -140px;
	}
	.course-finding__text{
		margin-top: 35px;
	}
	.all__items{
		margin-left: -6px;
	}
	.students__content{
		width: 320px;
	}
	.students__content-item{
		margin: 15px 24px 15px 0px!important;
	}
	.students__row-left-arrow{
		margin-right: 5px;
	}
	.students__row-right-arrow{
		margin-left: 5px;
	}
	.title{
		text-align: center;
	}
	.students__row-right-arrow{
		margin-left: 1000px!important;
	}
	.students__row-left-arrow{
		margin-right: 1000px!important;
	}
	.all__title{
		max-width: 390px!important;
	}
	.all__description{
		max-width: 390px!important;
	}

}
@media (max-width: 375px){
	.mentors__content-item{
		margin-left: 8px!important;
	}
	.mentors__content{
		margin-left: -15px;
	}
	.events__row{
		margin-left: -7px!important;
	}
	.blog__row{
		margin-left: -7px!important;
	}
	.all__body{
		margin-left: -15px!important;
	}
	.all__button{
		margin-left: -30px!important;
	}
	.all__title{
		max-width: 300px;
		text-align: center;
	}
	.all__description{
		max-width: 300px;
	}
	.all__header{
		margin-left: 45px!important;
		max-width: 300px;
	}
	.all__img{
		margin-left: -20px;
	}
}
@media (max-width: 320px){
	.footer__block-1{
		margin-bottom: 55px;
	}
	.footer__follow-item{
		margin-right: 8px!important;
	}
	.all__header{
		margin-left: 15px!important;
		
	}
	.mentors__header{
		text-align: center;
	}
	.all__button{
		margin-left: -80px!important;
	}
	
}
@media (min-width: 1709px){
	.all__title{
		text-align: center;
	}
	.work__title{
		text-align: center;
	}
}



.header__body {
	display: flex;
	justify-content: space-between;
	height: 120px;
}
.header__block{
	display: flex;
}
.header__top-logo {
	display: flex;
	align-items: center;
	
}
.header__top-link {
	text-decoration: none;
	font-size: 24px;
	font-family: 'DM Sans', sans-serif;
	color: #222222;
}
.header__top-menu {
	display: flex;
	align-items: center;

}
.header__top-list {
	display: flex;
	list-style: none;
	
}
.header__top-list-item {
	margin-right: 62px;
	
}
.header__top-list-link {
	text-decoration: none;
	font-size: 16px;
	font-family: 'DM Sans', sans-serif;
	color: #222222;
}
.header__top-list-link--active {
}
.header__top-log {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 180px;
}
.header__top-singin {
	text-decoration: none;
	font-family: 'DM Sans', sans-serif;
	color: #222222;
}
.header__top-singup {
	text-decoration: none;
	border: 1px solid #086CF9;
	padding:  12px 24px 12px 24px;
	background: #086CF9;
	color: #ffffff;
	font-family: 'DM Sans', sans-serif;
	border-radius: 5%;
}
.course{
	background-image: url(file:///E:/HTML/Onlinelearning/image/background.png);
	
}
.course__container {
	max-width: 1440px;
	height: 739px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}
.course__content {
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	align-items: center;

}
.course__content-title {
	font-size: 56px;
	color: #ffffff;
	font-family: 'DM Sans', sans-serif;
	margin-bottom: 3%;
	margin-left: 10px;
	margin-right: 10px;
}
.course__content-text {
	font-size: 16px;
	color: #ffffff;
	font-family: 'DM Sans', sans-serif;
	max-width: 867px;
	font-weight: 400;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}
.course__content-button {
	border: 1px solid #086CF9;
	padding:  16px 30px 16px 30px;
	border-radius: 5%;
	background-color: #086CF9;
	margin-top: 5%;
	margin-left: 10px;
	margin-right: 10px;
}
.course__content-btn{
	text-decoration: none;
	color: #ffffff;
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	margin: 0 auto;
}

.course-info {
	position: relative;
	bottom: 100px;
}
.course-info__container {
	max-width: 1138px;
	max-height: 192px;
	margin: 0 auto;
	padding: 0 10px;
	background-color: #ffffff;
	box-shadow: 0px 5px 15px gray;
}
.course-info__body {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 192px;
	
}
.course-info__online {
	display: flex;
}
.course-info__expert{
	display: flex;
}
.course-info__success{
	display: flex;
}
.course-info__icon {
	margin-right: 5%;
}
.course-info__img {
	max-width: 100%;
}
.course-info__block {
	max-width: 113px;

}
.course-info__num {
	color: #222222;
	font-family: 'DM Sans', sans-serif;
	font-size: calc(15px + 21 * (100vw / 1440));

}
.course-info__description {
	color: #086CF9;
	font-family: 'DM Sans', sans-serif;
	font-size: calc(11px + 5 * (100vw / 1440));
}
.course-finding{
	min-height: 433px;
}
.course-finding__body{
	display: flex;
}
.title {
	font-size: calc(25px + 23 *(100vw / 1440));
	display: flex;
	justify-content: space-around;
	margin: 25px auto;
	font-family: 'DM Sans', sans-serif;

}
.description{
	display: flex;
	text-align: center;
	font-family: 'DM Sans', sans-serif;
	color: #555555;
	font-size: 16px;
	max-width: 421px;
	height: 50px;
	
	margin: 20px auto 48px auto;
}
.course-finding__title {
	margin-bottom: 24px;
	margin-right: 16px;
}
.course-finding__text{
	display: flex;
	flex-direction: column;
}
.course-finding__description {
	color: #555555;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	margin-bottom: 26px;
	max-width: 478px;
	max-height: 125px;
}
.course-finding__description2 {
	color: #333333;
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
	margin-bottom: 88px;
	max-width: 489px;
	max-height: 56px;
}
.course-finding__button {
	margin-top: 32px;
}
.course-finding__btn {
	border: 1px solid #086CF9;
	padding:  16px 30px 16px 30px;
	border-radius: 5%;
	background-color: #086CF9;
	text-decoration: none;
	color: #ffffff;
	font-family: 'DM Sans', sans-serif;
	
}
.course-finding__video {
	display: flex;
	max-width: 100%;
}
.course-finding__player {
	max-width: 100%;
}
.course-finding__descriptions{
	max-width: 489px;
	max-height: 197px;
	margin-bottom: 32px;
}
.work {
	margin-bottom: 128px;
}
.work__body {
	display: flex;
	flex-direction: column;
	margin-top: 10%;
}
.work__header {
	display: flex;
	flex-direction: column;
	max-width: 423px;
	margin: 0px auto 45px auto;

}
.work__title {
	display: flex;
	justify-content: center;
}
.work__description {
	margin-bottom: 5%;
	text-align: center;
	max-width: 423px;
	height: 50px;
	color: #555555;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
}
.work__content-list {
	display: flex;
}
.work__content-list-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10px;
}
.work__content-list-logo {
	margin-bottom: 27px;
}
.work__content-list-img {
}
img[src="image/learn.png"]{
	margin-bottom: 6px;
}
.work__content-list-title {
	color: #222222;
	font-family: 'DM Sans', sans-serif;
	font-size: 24px;
	margin-bottom: 16px;
}
.work__content-list-description {
	text-align: center;
	color: #555555;
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
}

.all {
	background-color: #ECF4FF;
	max-width: 1440px;
	min-height: 1393px;
	margin: 0 auto;
}
.all__body {
	display: flex;
	margin-top: 10%;
	flex-direction: column;
	margin: 50px auto 0px auto;
}
.all__header {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	
}
.all__title {
	display: flex;
	justify-content: space-around;
	margin: 25px auto 0px auto;
	max-width: 674px;
}
.all__description {
	max-width: 674px;
}
.all__items {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	
}
.all__items-first-row {
	display: flex;
	
}
.all__items-second-row {
	display: flex;
	
}
.all__item {
	width: 368px;
	height: 483px;
	background-color: #ffffff;
	margin-right: 15px;
	margin-bottom: 25px;
	padding: 25px 25px 25px 25px;
	border-radius: 10px;
}
.all__photo {
	display: flex;
	justify-content: space-around;
}
.all__img {
}
.all__statistics {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.all__statistics-users {
	display: flex;
}
.all__statistics-icon {
	margin-right: 20px;
	
}
.all__statistics-icon-pic {
}
.all__statistics-num {
	display: flex;
	align-items: center;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	justify-content: center;

}

.all__statistics-views {
	display: flex;
}
.all__statistics-mark {
	display: flex;

}
.all__statistics-icon-user {
	display: flex;
	justify-content: end;
}
.all__box {
	margin-top: 50px;

}
.all__box-title{
	color: #333333;
	font-family: 'DM Sans', sans-serif;
	font-size: 24px;
	width: 320px;
	display: flex;
	justify-content: space-between;
}
.all__box-title::after{
	content: "$150";
	color: #086CF9;
}
.all__box-description{
	color: #333333;
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
	line-height: 155%;
	margin-top: 20px;
	width: 319px;
	height: 66px;
}
.all__button {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.all__btn {
	text-decoration: none;
	border: 1px solid #086CF9;
	background-color: #086CF9;
	color: #ffffff;
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
	padding: 16px 32px 16px 32px;
}

.mentors {
	margin-bottom: 128px;
}
.mentors__body {
	max-width: 1152px;
	min-height: 674px;
	margin-top: 10%;
}
.mentors__header {
	flex-direction: column;
	margin: 0 auto;
}
.mentors__header-title {
	display: flex;
	justify-content: space-around;
	margin: 25px auto 0px auto;
	font-family: 'DM Sans', sans-serif;
}
.mentors__header-description {
	
}
}
.mentors__content {

}
.mentors__content-row {
	display: flex;
	justify-content: space-between;
}
.mentors__content-item {
	width: 368px;
	height: 502px;
	box-shadow: -2px 2px 59px 12px rgba(34, 60, 80, 0.1);
	border-radius: 6px;
	margin-right: 24px;
}
.mentors__item-image {
}
.mentors__item-img {
}
.mentors__item-block {
	display: flex;
	flex-direction: column;
}
.mentors__item-name {
	display: flex;
	margin-left: 5%;
	color: #222222;
	font-family: 'DM Sans', sans-serif;
	font-size: 24px;
	margin-top: 20px;
	margin-left: 32px;
}
.mentors__item-role {
	display: flex;
	margin-left: 5%;
	color: #555555;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 32px;
}
.mentors__item-mark {
	display: flex;
	justify-content: space-between;
	margin: 30px 32px 0px 32px;
}
.mentors__item-mark-people {
	display: flex;

}
.mentors__item-mark-viewes {
	display: flex;
}
.mentors__item-mark-image {
	display: flex;
}
.mentors__item-mark-img {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
.mentors__item-mark-num {
	margin-right: 35px;
	color: #555555;
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
}
.mentors__item-mark-grade {
	display: flex;
}
.mentors__item-mark-courses {
	color: #555555;
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
}
.events {
	margin-bottom: 128px;
}
.events__body {
}
.events__header {
	flex-direction: column;
	margin: 0 auto;
}
.events__header-title {
	
}
.events__header-description {
	
}
.events__row {
	display: flex;
	justify-content: space-between;
}
.events__item {
	width: 368px;
	height: 390px;
	margin-right: 24px;
	box-shadow: -2px 2px 59px 12px rgba(34, 60, 80, 0.1);
	border-radius: 6px;
}
.events__item-image {
}
.events__item-img {
}
.events__item-content {
	width: 320px;
	height: 94px;
	margin: 24px;
}
.events__item-title {
	font-family: 'DM Sans', sans-serif;
	color: #222222;
	font-size: 20px;
	width: 267px;
}
.events__item-info {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.events__item-time {
	display: flex;
}
.events__item-time-img {
	width: 16px;
	height: 16px;
}
.events__item-time-text {
	margin-left: 8px;
	font-family: 'DM Sans', sans-serif;
	color: #555555;
	font-size: 14px;
}
.events__item-place {
	display: flex;
}
.events__item-place-img {
	width: 16px;
	height: 16px;
}
.events__item-place-text {
	margin-left: 8px;
	font-family: 'DM Sans', sans-serif;
	color: #555555;
	font-size: 14px;
}
.info {
	background-color: #D3E5FE;
	max-height: 247px;
	margin-bottom: 128px;

}
.info__body {

}
.info__row {
	display: flex;
	justify-content: space-around;
	margin-bottom: 65px;
	margin-top: 65px;

}
.info__item {
	
	display: flex;
	flex-direction: column;
	align-items: center;
}
.info__item-num {
	font-family: 'DM Sans', sans-serif;
	color: #222222;
	font-size: calc(25px + 13 * (100vw / 1440));
}
.info__item-text {
	font-family: 'DM Sans', sans-serif;
	color: #555555;
	font-size: calc(13px + 3 * (100vw / 1440));
	margin-top: 16px;
}
.blog {
	margin-bottom: 128px;
}
.blog__body {
}
.blog__header {
}
.blog__header-title {
	margin-right: 40px;
}
.blog__header-description {
}
.blog__row {
	display: flex;
	justify-content: space-around;
}
.blog__item {
	width: 368px;
	height: 487px;
	box-shadow: -2px 2px 59px 12px rgba(34, 60, 80, 0.1);
	border-radius: 6px;
	margin-right: 24px;
}
.blog__item-image {
}
.blog__item-img {
}
.blog__item-block {
	margin: 24px 30px 32px 30px;
}
.blog__item-title {
	font-family: 'DM Sans', sans-serif;
	color: #555555;
	font-size: 20px;
	margin-bottom: 16px;
}
.blog__item-description {
	margin-bottom: 24px;
	font-family: 'DM Sans', sans-serif;
	color: #444444;
	font-size: 14px;
}
.blog__item-button {
}
.blog__item-btn {
	text-decoration: none;
	
	font-family: 'DM Sans', sans-serif;
	color: #086CF9;
	font-size: 16px;
}

.students {
	margin-bottom: 128px;
}
.students__body {
}
.students__title {
}
.students__description {
}

.students__row {
	display: flex;

}
.students__row-left-arrow {
	display: flex;
	align-items: center;
}
.students__row-link {
}
.students__row-img {
}
.students__content {
	display: flex;
	justify-content: space-between;
}
.students__content-item {
	width: 320px;
	height: 260px;
	box-shadow: -2px 2px 59px 12px rgba(34, 60, 80, 0.1);
	border-radius: 6px;
	margin: 30px 12px 38px 12px;


}
.students__content-text {
	width: 281px;
	height: 100px;
	font-size: 16px;
	line-height: 155%;
	font-family: 'DM Sans', sans-serif;
	color: #555555;
	margin-bottom: 20px;
	margin-left: 15px;
	margin-top: 30px;
}
.students__content-user {
	display: flex;
	margin-left: 15px;
	align-items: center;
}
.students__content-photo {
}
.students__content-user-info {
	margin-left: 16px;
}
.students__content-user-name {
	color: #222222;
	font-family: 'DM Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 8px;
}
.students__content-user-role {
	color: #555555;
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
}
.students__row-right-arrow {
	display: flex;
	align-items: center;
}
.subscribe {
	display: flex;
	justify-content: space-around;
	margin-bottom: 128px;
}
.subscribe__body {
	width: 939px;
	height: 325px;
	background-color: #086CF9;
	border-radius: 6px;
	padding-top: 48px;
}
.subscribe__title {
	color: #FCFCFC;
	font-size: 36px;
}
.subscribe__description {
	color: #F9F9F9;
	font-size: 16px;
}
.subscribe__email-stroke {
	display: flex;
	justify-content: safe center;
	margin-left: 140px;
}
.subscribe__email-input {
	width: 538px;
	height: 64px;
	border-radius: 4px;
	border: none;
}
.subscribe__email-sublime {
	width: 115px;
	height: 48px;
	background: #086CF9;
	border-radius: 4px;
	color: #FFFFFF;
	border:none;
	position: relative;
	top: 10px;
	right: 130px;
}
input[placeholder="Enter your email..."]{
	color: #555555;
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
	padding-left: 24px;
}
input:active{
	outline: 0;
    outline-offset: 0;
}
input:focus{
	outline: 0;
    outline-offset: 0;
}

.footer {
	background-color: #D3E5FE;
	min-height: 421px;

}
.footer__body {
	display: flex;
	justify-content: space-around;
	padding-top: 60px;
}
.footer__block-1 {
	display: flex;
	flex-direction: column;
	max-width: 360px;
	height: 281px;
	margin-right: 92px;
}
.footer__title{
	color: #222222;
	font-family: 'DM Sans', sans-serif;
	font-size: 30px;
	margin-bottom: 24px;
}
.footer__education {
}
.footer__education-title {
	
}
.footer__education-description {
	color: #555555;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	margin-bottom: 32px;
}
.footer__follow {
}
.footer__follow-title {
}
.footer__follow-links {
	display: flex;
}
.footer__follow-item {
	margin-right: 16px;
}
.footer__follow-img {
}
.footer__block-2 {
	display: flex;

}
.footer__feature {
	width: 254px;
	height: 269px;
	margin-right: 92px;
}
.footer__feature-title {
}
.footer__feature-block {
}
.footer__feature-list {
	list-style-type: none;
}
.footer__feature-item {
	margin-bottom: 16px;
}
.footer__feature-link {
	text-decoration: none;
	color: #444444;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
}
.footer__feature-link::before{
	content: url(file:///E:/HTML/Onlinelearning/image/footer%20arrow.png);
	margin-right: 16px;
}
.footer__support-link::before{
	content: url(file:///E:/HTML/Onlinelearning/image/footer%20arrow.png);
	margin-right: 16px;
}
.footer__support {
	width: 170px;
	height: 232px;
	margin-right: 92px;
}
.footer__support-title {
}
.footer__support-block {
}
.footer__support-list {
	list-style-type: none;
}
.footer__support-item {
	margin-bottom: 16px;
}
.footer__support-link {
	text-decoration: none;
	color: #444444;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
}
}
.footer__contact {
	display: flex;
	flex-direction: column;
	width: 203px;
	height: 224px;

}
.footer__contact-title {
}
.footer__contact-block {

}
.footer__contact-place {
	display: flex;
	color: #444444;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
}
.footer__contact-phone {
	display: flex;
	margin-top: 16px;
}
.footer__contact-icon {
	margin-right: 8px;
	width: 20px;
	height: 20px;
}
.footer__contact-text {
	color: #444444;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
}
.footer__contact-mail {
	display: flex;
	margin-top: 16px;
}
.footer__contact-domain {
	display: flex;
	margin-top: 16px;
}

